.box-network {
  display: flex;
  &__list {
    display: flex;
    gap: clamp(5px, 2vw, 40px);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      min-width: 45px;
      height: 45px;
      border-radius: 100%;
      transition: background-color 0.4s ease-in-out;
      background-color: var(--color-border-1);
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        background-color: var(--color-border-2);
      }
    }
  }
}