.box-nav {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(5px, 2vw, 38px);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-black);
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-black);
    transition: color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      color: var(--color-2);
    }
  }
}