.box-nav {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 5vw, 48px);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-black);
  }

  &__link {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color 0.4s ease-in-out;
    &::after {
      content: '';
      position: absolute;
      inset: 0 0 -1px;
      opacity: 0;
      border-bottom: 1px solid var(--color-black);
      transition: opacity 0.4s ease-in-out;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      &::after{
        opacity: 1;
      }
    }
  }
}