.footer {
  &__title {
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--color-black);
  }
  .box-logo {
    display: flex;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible {
        outline: 1px solid var(--color-black);
      }
      svg {
        width: 112px;
        height: 39px;
      }
    }
  }
  &__box-top {
    background-color: var(--color-5);
    padding: 70px 0;
    &-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 110%;
      color: #2c2c2c;
    }
  }
  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    transition: color 0.4s ease-in-out;
    color: #2c2c2c;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: var(--color-black);
    }
  }
  &__link-network {
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      
    }
  }
  &__line-bottom {
    padding: 24px 0 40px;
  }
  &__desc {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: var(--color-black);
  }
  .middle {
    .footer__title {
      margin-bottom: 0;
    }
  }
  .box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  &__box-network {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;

    .footer__title {
      margin-bottom: 0;
    }

    &-list {
      display: flex;
      gap: 30px;
    }
  }
}