.card-advantages {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--color-fon-5);
  min-height: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 34px;
  background-color: var(--color-white);
  &__desc {
    max-width: 300px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--color-black);
  }
  &__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 120px;
    height: 100%;
    background-color: var(--color-5);
  }
}