.card-categories {
  display: flex;
  height: 100%;
  min-height: 120px;
  min-width: 580px;
  &__link {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--color-border-3);
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 30px;
    transition: background-color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    /*&:focus-visible,&:hover,&:active {
      background-color: var(--color-fon-3);
      .card-categories__box-img {
        background-color: var(--color-fon-2);
      }
    }*/
  }
  &__name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--color-black);
  }
  &__box-img {
    border-radius: 5px 0 0 5px;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 0.4s ease-in-out;
    background-color: var(--color-5);
  }
}