.catalog-link {
  position: relative;
  display: flex;
  align-items: center;

  &__link {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;

    &.active {
      &::after {
        opacity: 1;
      }

      svg {
        transform: rotate(180deg);
      }

      &+.drop-down-catalog {
        z-index: 10;
        opacity: 1;
        visibility: visible;
      }
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 -1px;
      opacity: 0;
      border-bottom: 1px solid var(--color-black);
      transition: opacity 0.4s ease-in-out;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {

      &::after {
        opacity: 1;
      }

      svg {
        transform: rotate(180deg);
      }

      /*&+.drop-down-catalog {
        z-index: 10;
        opacity: 1;
        visibility: visible;
      }*/

    }

    svg {
      transition: transform 0.4s ease-in-out;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color 0.4s ease-in-out;
  }


  .drop-down-catalog {
    position: absolute;
    top: calc(100% + 28px);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    //transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out, visibility 0.4s ease-in-out;
    /*&::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        padding-top: 182px;
        height: 657px;
        background-color: var(--color-5);
      }*/
    //background-color: var(--color-5);
    &__line-top {
      position: relative;
      padding: 40px 0 30px;
    }
    .list-level-1 {
      display: flex;
      gap: clamp(10px, 5vw, 68px);
      .list-level-2 {
        display: none;
      }
    }
    .item-level-1 {
      display: flex;
    }
    .link-level-1 {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--color-12);
      &.active {
        color: var(--color-13);
      }
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        color: var(--color-black);
      }
    }
    

    &__box-bottom {
      display: flex;
      gap: 10px;
    }


    .box-level-2 {
      width: 100%;
      max-width: 238px;
      height: 329px;
      .list-level-2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-height: 329px;
        overflow-x: auto;

        &::-webkit-scrollbar {
          width: 5px;
        }
            
        &::-webkit-scrollbar-track {
          background-color: var(--color-fon-2);
          border-radius: 20px;
        }
            
        &::-webkit-scrollbar-thumb {
          background-color: var(--color-scroll);
          border-radius: 20px;
        }
      }
      .link-level-2 {
        position: relative;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--color-black);
        &:focus,&:focus-visible {
          outline: none;
        }
        &:focus-visible,&:hover,&:active {
          &::after {
            opacity: 1;
          }
        }
        &.active {
          &::after {
            opacity: 1;
          }
        }
        &::after {
          content: '';
          position: absolute;
          inset: 0 0 -2px 0;
          border-bottom: 1px solid var(--color-black);
          opacity: 0;
          transition: opacity 0.4s ease-in-out;
        }
      }
      .list-level-3 {
        display: none;
      }
    }

    .box-level-3 {
      .list-level-3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 40px;
        padding-bottom: 5px;
        max-height: 335px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          height: 5px;
        }
            
        &::-webkit-scrollbar-track {
          background-color: var(--color-fon-2);
          border-radius: 20px;
        }
            
        &::-webkit-scrollbar-thumb {
          background-color: var(--color-scroll);
          border-radius: 20px;
        }
      }
      .link-level-3 {
        position: relative;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--color-black);
        &::after {
          content: '';
          position: absolute;
          inset: 0 0 -2px 0;
          border-bottom: 1px solid var(--color-black);
          opacity: 0;
          transition: opacity 0.4s ease-in-out;
        }
        &:focus,&:focus-visible {
          outline: none;
        }
        &:focus-visible,&:hover,&:active {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .catalog-link .drop-down-catalog .box-level-3 .list-level-3 {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border-1) var(--color-fon-2);
  }
}

@-moz-document url-prefix() {
  .catalog-link .drop-down-catalog .box-level-2 .list-level-2 {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border-1) var(--color-fon-2);
  }
}
