.path {
  padding-top: 40px;
  margin-bottom: 29px;
  &__list {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      display: flex;
      align-items: center;
      gap: 6px;
      &:last-child {
        a {
          pointer-events: none;
        }
      }
      a {
        display: flex;
        align-items: center;
        gap: 6px;
        color: var(--text-neutral-button-default);
        transition: color 0.4s ease-in-out;
        &:focus,&:focus-visible {
          outline: none;
        }
        &:focus-visible,&:hover,&:active {
          .text {
            color: var(--color-black);
          }
        }
        span {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          text-transform: uppercase;
          color: var(--color-7);
          transition: color 0.4s ease-in-out;
        }
      }
    }
  }
}