<div class="catalog-link">
  <a href="#" class="catalog-link__link">
    <span class="catalog-link__text">
      Каталог
    </span>
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
      <use xlink:href="img/sprite.svg#topArr"></use>
    </svg>
  </a>
  <div class="catalog-link__drop-down-catalog drop-down-catalog">
    <div class="drop-down-catalog__line-top">
      <ul class="drop-down-catalog__list list-reset list-level-1">
        <li class="item-level-1">
          <a href="#" class="link-level-1">
            Мебель
          </a>
          <ul class="list-level-2 list-reset">
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель-2
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1111
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1111
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1111
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1111
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1111
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1111
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель vsdf sdfsdf sdfsdf sdfsedf sdfsdf
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1111
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Мебель-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Мебель vsdf sdfsdf sdfsdf sdfsedf sdfsdf
              </a>
            </li>
          </ul>
        </li>
        <li class="item-level-1">
          <a href="#" class="link-level-1">
            Свет
          </a>
          <ul class="list-level-2 list-reset">
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Свет-2
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Свет-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Свет-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Свет-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Свет-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Свет-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Свет-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Свет-3-2
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item-level-1">
          <a href="#" class="link-level-1">
            Декор
          </a>
          <ul class="list-level-2 list-reset">
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Декор-2
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Декор-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Декор-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Декор-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Декор-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Декор-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Декор-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Декор-3-2
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item-level-1">
          <a href="#" class="link-level-1">
            Картины
          </a>
          <ul class="list-level-2 list-reset">
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Картины-2
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Картины-3354535
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Картины-3-135335
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Картины-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Картины-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Картины-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Картины-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Картины-3-2
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item-level-1">
          <a href="#" class="link-level-1">
            Horeca
          </a>
          <ul class="list-level-2 list-reset">
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Horeca-2
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Horeca-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Horeca-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Horeca-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Horeca-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Horeca-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Horeca-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Horeca-3-2
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item-level-1">
          <a href="#" class="link-level-1">
            Скидки
          </a>
          <ul class="list-level-2 list-reset">
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Скидки-2
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Скидки-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Скидки-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Скидки-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Скидки-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Скидки-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Скидки-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Скидки-3-2
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item-level-1">
          <a href="#" class="link-level-1">
            Новинки
          </a>
          <ul class="list-level-2 list-reset">
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Новинки-2
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Новинки-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Новинки-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Новинки-3-2
                  </a>
                </li>
              </ul>
            </li>
            <li class="item-level-2">
              <a href="#" class="link-level-2">
                Новинки-2-1
              </a>
              <ul class="list-level-3 list-reset">
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Новинки-3
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Новинки-3-1
                  </a>
                </li>
                <li class="item-level-3">
                  <a href="#" class="link-level-3">
                    Новинки-3-2
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="drop-down-catalog__box-bottom">
      <div class="box-level-2">
      </div>
      <div class="box-level-3">
      </div>
    </div>
  </div>
</div>