<div class="path">
  <div class="path__container container">
    <ul class="path__list list-reset">
      <li>
        <a href="/">
          <span class="text">
            Главная
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="slash">/</span>
          <span class="text">
            Диваны
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="slash">/</span>
          <span class="text">
            Диван PERUGIA Grey 227
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>