<div class="path">
  <div class="path__container container3">
    <ul class="path__list list-reset">
      <li>
        <a href="/">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <use xlink:href="img/sprite.svg#home"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <use xlink:href="img/sprite.svg#pathArr"></use>
          </svg>
          <span>
            @@page
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>